* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.daily-container {
    color: #000;
}

.daily-deals-container {
    align-items: center;
    justify-content: center;
}

.laptop-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.sale-items {
    padding: 20px 25px;
}

.sale-items img {
    width: 20vw;
    height: 54vh;
    object-fit: cover;
}

.button {
    align-items: center;

}

button {
    width: 5vw;
    height: 4vh;
}