* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff5b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.text-container {
    display: flex;
    padding: 0 10px;
    justify-content: space-around;
    text-decoration: none;
}

.link-btn {
    text-decoration: none;
    padding-left: 10px;
    color: #000;
}



.navbar-btn {
    width: 7vw;
    height: 5vh;
    font-weight: 800;
}